[package]
name = "bigtent"
version = "0.6.1"
edition = "2021"
authors = ["David Pollak <feeder.of.the.bears@gmail.com>"]
rust-version = "1.81.0"
description = "An opinionated Graph Database"
readme = "README.md"
repository = "https://bigtent.cc"
license = "Apache 2.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
name = "bigtent"
path = "src/lib.rs"

[[bin]]
name = "bigtent"
path = "src/main.rs"

[dependencies]
anyhow = "1.0.95"
regex = "1.11"
md5 = "0.7.0"
sha2 = "0.10.8"
hex = "0.4.3"
bytes = "1.10"
hex-literal = "0.4.1"
shellexpand = "3.1.0"
chrono = "0.4"

# Web Framework stuff
url = "2.5"
serde = { version = "1.0", features = ["std", "derive"] }
serde_json = "1.0"
serde_cbor = "0.11.2"
axum = {version = "0.8", features = ["json", "macros"]}
axum-streams = {version="0.20", features=["json", "csv"]}
futures = "0.3"
im = { version = "15.1.0", features = ["serde"] }
# tracing = "0.1.40"
# tracing-subscriber = { version = "0.3.18", features = ["env-filter"]}


# Execution stuff
tokio = { version = "1", features = ["macros", "rt-multi-thread", "io-util", "fs", "net", ] }
tokio-util = {version = "0.7", features = ["io"]}
tokio-stream = {version = "0.1"}
signal-hook = "0.3.17"
arc-swap = "1.7.1"
clap = { version = "4.5", features = ["derive"] }
toml = "0.8"
thousands = "0.2.0"
pipe = "0.4.0"

flume = { version = "0.11", features = ["spin"] }
scopeguard = "1.2.0"

rand = "0.9.0"

# Logging
log = "0.4"
env_logger = "0.11"

[features]

longtest = [] # feature has no explicit dependencies
oldstuff = []
