name: Publish Rust Container Image

env:
  PLATFORMS: linux/amd64, linux/arm64

on:
  push:
    tags: [ 'v*.*.*' ]  # Trigger only on semantic version tags

jobs:
  check-version:
    name: Ensure GitHub Release & Cargo.toml Version Numbers Match
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Check Cargo Version Matches Tag
        uses: spice-labs-inc/action-check-version@main

  push_to_dockerhub:
    name: Push Docker Image to Docker Hub
    runs-on: ubuntu-24.04
    needs: check-version

    permissions:
      contents: read
      attestations: write
      id-token: write

    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set Up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
            platforms: ${{env.PLATFORMS}}

      - name: Checkout with LFS
        uses: actions/checkout@v4
        with:
          lfs: true

      - name: Set up Rust toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Cache Cargo dependencies
        uses: Swatinem/rust-cache@v2

      - name: Build project
        run: cargo build --release

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: "${{ secrets.DOCKER_USERNAME }}"
          password: "${{ secrets.DOCKER_TOKEN }}"

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: spicelabs/bigtent
          tags: |
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}
            type=sha
            type=raw,value=sha-${{ github.sha }}
          flavor: |
            latest=auto

      - name: Build and Push Docker image
        id: push
        uses: docker/build-push-action@v6
        with:
          platforms: ${{env.PLATFORMS}}
          context: .
          push: true
          provenance: mode=max
          sbom: true
          tags: "${{ steps.meta.outputs.tags }}"
          labels: "${{ steps.meta.outputs.labels }}"

      - name: Index and upload ADG
        uses: spice-labs-inc/action-spice-labs-cli-scan@v3
        with:
          token: ${{ secrets.SPICE_PASS }}
          input: target
          tag: ${{ github.event.repository.name }}
